body {
    font-family: "Nunito", sans-serif;
    background-color: #f9d9df;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    font-weight: 100;
}

.nav-link {
    
}

